<div class="mt-1 mb-2">
    <input type="number" #inputNumber  class="form-control" min="0" placeholder="give a custom number to increment or decrement" id="">
</div>
<div class="d-flex justify-content-center mb-2">
    <button (click)="increment(inputNumber.value)" class="btn btn-secondary me-1">increment</button>
    <button (click)="decrement(inputNumber.value)" class="btn btn-primary">decrement</button>
</div>
<div class="mt-1 mb-2">
    <input type="text" #projectN  class="form-control" placeholder="give a custom name to the project" id="">
</div>
<div class="d-flex justify-content-center">
    <button (click)="onChangeProjectName(projectN.value)"  class="btn btn-primary me-1">change name</button>
    <button (click)="onProjectNameReset()"  class="btn btn-danger">reset name</button>
</div>