<!-- <ng-container *ngFor="let list of postList$ | async">
    <div>
        <p>{{list.id}}</p>
        <p>{{list.firstName}}</p>
        <p>{{list.lastName}}</p>
    </div>
</ng-container> -->
<button class="btn btn-primary" routerLink="/add-post">Add post list</button>
<table class="table table-striped" *ngIf="postList$ | async as postsList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of postsList">
            <td>{{list.id}}</td>
            <td>{{list.firstName}}</td>
            <td>{{list.lastName}}</td>
            <td>
                <button class="btn btn-info" [routerLink]="['/edit', list.id]">Edit</button>
            </td>
        </tr>
    </tbody>
</table>